body {
  background-image: url(./img/huc.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.other {
  background-image: linear-gradient(rgba(215, 208, 208, 0.95),rgba(215, 208, 208, 0.95)), url(./img/huc.jpg);
}
.header {
  grid-area: header;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "column1 main main column2" "footer footer footer footer";
}
.grid-container div {
  padding: 3vh;
  color: black;
  text-align: center;
}

.colum1 {
  grid-area: column1;
}

.main {
  grid-area: main;
  justify-items: center;
  margin-top: 10vh;
}

.colum2 {
  grid-area: column2;
}

.responsive-nav {
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #909799;
}

.nave {
  font-size: 30px;
}

details {
  display: flex;
  justify-content: flex-start;
    margin: auto 0 auto auto;
}


#logo {
  max-height: 80px;
  margin-left: 10px;
  margin: auto auto auto 10px;
}

.inputIngreso {
  width: 250px;
  display: block;
  margin: 10px auto;
  padding: 12px;
  border-radius: 10px;
  border: 0.5px solid rgb(1, 12, 15);
}

button {
  margin: 10px auto;
  border: 0.5px solid rgb(1, 12, 15);
  padding: 10px;
  background: #5f4053;
  border-radius: 10px;
  color: rgb(1, 12, 15);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: rgb(1, 12, 15);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
}

#parrafos {
  font-size: 14px;
}

#btnI {
  margin-left: 2vw;
}

#mesagge {
  color: red;
}
#errorRegistro {
  color: red;
}

#botonGoogle {
  width: 50vmin;
}

#botonFacebook {
  width: 50vmin;
}

.icono {
  max-width: 25px;
  vertical-align: middle;
  padding: 5px;
  display: inline-block;
}

.login {
  padding: 0 10px;
  background-color: white;
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  width: 250px;
  cursor: pointer;
}
.login-form {
  margin-left: 20vw;
}

.login p {
  margin: 1em;
  display: inline-block;
  color: #737373;
}

.login.facebook p {
  margin: 1em 0.4em;
}

form {
  background: rgba(235, 228, 228, 0.82);
  width: 30vw;
  /*margin-left: 20vw;*/
  border-radius: 5%;
}

#reglasHuc {
  background-color: rgba(235, 228, 228, 0.82);
}

details {
  width: 48vw;
  margin-right: 0;
}
ol {
  text-align: start;
  justify-content: flex-start;
  background-color: rgba(235, 228, 228, 0.82);
}
li {
  padding: 2px;
  text-align: center;

  list-style: none;
  background-color: #909799;
}
#buttonReglas {
  margin-top: 5vh;
}
#task-form {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
}
#task-form textarea {
  margin-top: 2vh;
}
.post-form div{
  margin: 10px 0 10px 0;
  background-color: rgba(235, 228, 228, 1); 
  width: 60vw;
}
.post-form div div {
  width: 57vw;
}
.post-form img {
  width: 65%;
  height: 50vh;
}
.post-form .contenido {
  margin-left: 50px;
  margin-right: 50px;
}
.tooltip {
  /*position: relative;
  display: inline-block;*/
  border-bottom: 1px dotted black;  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /*position: absolute;*/
  /*z-index: 1;*/
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
 /* position: absolute;*/
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.error {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh; 
  background-image: url("img/error.jpg"); 
  background-size: cover; 
  background-position: center center;
}

.error button {
  margin-bottom: 100px;
  color: white;
}


.footer {
  grid-area: footer;
}
