

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'column1 main main column2' 'footer footer footer footer'
  }
  .grid-container div {
   
    padding: 20px; 
    color: black;
    text-align: center;
    /*border: 1px solid white;*/ 
  }
  .header {
    grid-area: header;
    background-color: red; 
  }
  
  .colum1 {
    grid-area: column1;
  }
  
  .main {
     grid-area: main;
     background-color: yellow;
    justify-items: start;
   
  }
  
  
  .colum2 {
    grid-area: column2;
  }
  
  .footer {
    grid-area: footer;
  }