* {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header header header header' 'column1 main main column2' 'footer footer footer footer'
}
.grid-container div { 
  color: black;
  text-align: center;
  background-color: #EDF0F2;
}
.header {
  grid-area: header;
  background-image: url(./img/huc.jpg);
  background-size: 100% auto; 
  height: 20vh;
  padding: 0;
}
.header div {
  height: 20vh;
  background-color: rgb(75, 101, 110);
  width: 100vw;
  display: flex;
  flex-direction: column;
justify-content: space-between;
z-index: 2;
}

 
.colum1 {
  grid-area: column1;
}

.main {
  padding: 5vh;
   grid-area: main;
  justify-items: start;
}

.colum2 {
  grid-area: column2;
}

.inputIngreso{
  width: 250px;
  display: block;
  margin: 10px auto;
  padding: 12px;
  border-radius: 10px;
  border: 0.5px solid rgb(1, 12, 15);
}

button {
  display: block;
  margin: 10px auto;
  border: 0.5px solid rgb(1, 12, 15);
  padding: 10px;
  background: #5F4053;
  border-radius: 10px;
  color: rgb(1, 12, 15);
  font-size: 16px;
  cursor: pointer;
}
form {
  z-index: 1;
}

.formInformacion div {
  padding: 1vh;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 
  font-size: 20px;   
}

#parrafos {
  font-size: 14px;
}


#mesagge {
  color: red;
}
#errorRegistro {
  color: red;
}

#botonGoogle {
    width: 50vmin;
  }

#botonFacebook {
  width: 50vmin;
}

.icono {
  max-width: 25px;
  vertical-align: middle;
  padding: 5px;
  display: inline-block;
}

.login {
padding: 0 10px;
background-color: white;
display: block;
border-radius: 10px;
margin: 10px auto;
width: 250px;
   
}


.login p {
margin: 1em;
display: inline-block;
color: #737373;
font-size: 20px;
} 

.login.facebook p{
margin: 1em 0.4em;
}

ol {
text-align: start;  
}

nav {
background-color: rgb(75, 101, 110);
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0 5vw;  
height: 15vh;
}
nav img {
margin-top: 2vh;
width: 25vmin;
}
nav li {
list-style: none;
margin-top: 4vmin;
border-bottom: white 1px solid;
}

nav a {
text-decoration: none;
color: #040E00;
}
details{
display: block;
margin-top: 5vh;
}
details[open] {
position: absolute;
right: 20px;
background-color: #B3B697;
height: 18.5vmax ;
width: 30vw;
}

summary{
background-color:  rgb(75, 101, 110);
display: block;
}

#task-form {
  
  border: solid 1px red;
  padding: 5px;

}
.footer {
  grid-area: footer;
}